= link_to 'Back to the list', root_path
%hr
%h2= "#{controller_name.classify}##{params[:method]}"
%h2 Code
= CodeRay.scan(@code, :ruby).div(:line_numbers => :table).html_safe
%h2 Result
- if params[:method] == 'getResourceData'
  %img{:src => "data:image/png;base64,#{[@result].pack('m')}"} 
  = CodeRay.scan(truncate(@result.inspect, length: 100), :ruby).div.html_safe
- else
  = CodeRay.scan(@result.inspect, :ruby).div.html_safe
- if @note
  %h2 Note
  = auto_link @note
- if @doc && @doc_url
  %h2 Document
  = link_to 'API Document', @doc_url
  = @doc.html_safe
